body {
  font-family: var(--primary-font);
  color: var(--secondary-accent-color);
  background-color: var(--primary-white-color);
}
:root {
  --primary-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --primary-black-color: #2e2f42;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --third-white-color: #e7e9fc;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #434455;
  --active-link-color: #404bbf;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  display: block;
}
ul,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.header {
  border-bottom: 1px solid var(--third-white-color);
  height: 72px;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-accent-color);
  text-decoration: none;
  margin-right: 76px;
}
.logoback-port {
  color: var(--primary-black-color);
}
.list {
  list-style: none;
}
.menu-m {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--active-link-color);
  padding: 24px 0;
  display: flex;
  gap: 40px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-m::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--active-link-color);
  border-radius: 2px;
}
.menu-m:hover,
.menu-m:focus {
  color: var(--active-link-color);
}
.link {
  text-decoration: none;
}
.communication {
  font-style: normal;
  display: flex;
  gap: 40px;
  margin-left: 332px;
}
.maill {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.maill:hover,
.maill:focus {
  color: var(--active-link-color);
}
.sec {
  background-color: var(--primary-white-color);
  padding-top: 96px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.main {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-accent-color);
  background-color: var(--secondary-white-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--third-white-color);
  border-radius: 4px;
}
.main:hover,
.main:focus {
  color: var(--primary-white-color);
  background-color: var(--active-link-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.web-shadow {
  display: block;
}
.web-shadow:hover,
.web-shadow:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.photo {
  text-decoration: none;
}
.heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
}
.bottom {
  background-color: var(--primary-black-color);
  padding: 100px 0;
}
.logoback {
  color: var(--secondary-white-color);
}
.logo-back-main {
  color: var(--primary-black-color);
}
.logo-main {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-accent-color);
  margin-right: 76px;
}
.logo-main-footer {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-accent-color);
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.write {
  display: flex;
  gap: 40px;
}
.write-two {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}
.write-thri {
  display: flex;
  gap: 24px;
}
.write-four {
  width: calc((100% - 72px) / 4);
}
.write-five {
  display: flex;
  gap: 24px;
}
.write-six {
  width: calc((100% - 48px) / 3);
}
.write-seven {
  display: flex;
  gap: 24px;
}
.write-eight {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.write-nine {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.write-ten {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.write-ten:hover,
.write-ten:focus {
  transform: translateY(0%);
}
.window {
}
.transformed-button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-portfolio {
  padding: 32px 16px;
  border: 1px solid var(--third-white-color);
  border-top: none;
}
.menu-main {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--active-link-color);
  padding: 24px 0;
  display: flex;
  gap: 40px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-main:hover::before,
.menu-main:focus::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 4px;
  background-color: var(--active-link-color);
  border-radius: 2px;
}
.menu-main::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--active-link-color);
  border-radius: 2px;
}
.title-main-pa {
  background-color: var(--primary-black-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
}
.title-h {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button-main {
  background-color: var(--primary-accent-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sec-two {
  padding: 120px 0;
}
.sec-thri {
  padding-bottom: 120px;
}
.sec-four {
  background-color: var(--secondary-white-color);
  padding: 120px 0;
}
.button-main:hover,
.button-main:focus {
  background-color: var(--active-link-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}
.text-main {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
}
.text-main-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
  text-align: center;
  margin-bottom: 8px;
}
.title-ht-t {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
  margin-bottom: 72px;
}
.address {
  font-style: normal;
}
.mailto {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailto:hover,
.mailto:focus {
  color: var(--active-link-color);
}
.title-htt {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
  margin-bottom: 72px;
}
.img-main {
  background-color: var(--primary-white-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  max-height: 428px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cont {
  padding: 32px 0;
}
.title-h-tree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  padding-bottom: 8px;
  padding-top: 8px;
}
.title-work-tree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin-bottom: 8px;
  text-align: center;
}
.title-h-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
}
.footer {
  background-color: var(--primary-black-color);
  padding: 100px 0;
}
.logo-back {
  color: var(--secondary-white-color);
}
.text-footer {
  line-height: 1.5;
  color: var(--secondary-white-color);
  letter-spacing: 0.02em;
  max-width: 264px;
}
.sec-five {
  padding-top: 120px;
  padding-bottom: 120px;
}
.svg-four {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.svg-first {
  width: 40px;
  height: 40px;
}
.main-web {
  width: 100%;
  height: 100%;
  background-color: var(--primary-accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-svg {
  fill: var(--secondary-white-color);
}
.text-two-sec {
  justify-content: flex-start;
}
.svg-two {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--secondary-white-color);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 8px;
}
.svg-transform-lii {
  width: 40px;
  height: 40px;
}
.svg-trans {
  width: 100%;
  height: 100%;
  background-color: var(--primary-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.svg-trans:hover,
.svg-trans:focus {
  background-color: var(--active-link-color);
}
.svg-workers {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.write-ele {
  align-items: center;
  justify-content: center;
  padding-top: 72px;
}
.write-sec-five {
  display: flex;
  gap: 24px;
}
.svg-tranformers {
  fill: var(--secondary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-five-sec {
  color: var(--primary-black-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.text-footer-two {
  color: var(--primary-white-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer-svg {
  width: 40px;
  height: 40px;
}
.footer-svg-text {
  display: flex;
  align-items: baseline;
}
.text-foot-logo {
  margin-right: 120px;
}
.footer-svg-two {
  display: flex;
  gap: 16px;
}
.svg-url {
  height: 100%;
  width: 100%;
  background-color: var(--primary-accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-url:hover,
.svg-url:focus {
  background-color: #31d0aa;
}
.footer-size {
  margin-left: 0;
}
.border-svg {
  height: 88px;
  width: calc((100% - 120px) / 6);
}
.partners {
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  fill: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners:hover,
.partners:focus {
  border-color: var(--active-link-color);
  color: var(--active-link-color);
  fill: var(--active-link-color);
}
.fill-footer {
  fill: var(--secondary-white-color);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
  fill: var(--active-link-color);
  background-color: #404bbf;
  border: none;
}
.svg-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
