body {
  font-family: var(--primary-font);
  color: var(--secondary-accent-color);
  background-color: var(--primary-white-color);
}
:root {
  --primary-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --primary-black-color: #2e2f42;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --third-white-color: #e7e9fc;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #434455;
  --active-link-color: #404bbf;
}
* {
  box-sizing: border-box;
}
img {
  display: block;
}
.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  gap: 24px;
}
.header {
  border-bottom: 1px solid var(--third-white-color);
}
.menu {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-accent-color);
  text-decoration: none;
  padding: 24px 0;
}
.logoback-port {
  color: var(--primary-black-color);
}
.list {
  list-style: none;
}
.teerex {
  width: calc((100% - 72px) / 4);
}
.adw {
  display: flex;
  gap: 40px;
}
.menu-m {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}
.menu-m:hover,
.menu-m:focus {
  color: var(--active-link-color);
}
.link {
  text-decoration: none;
}
.communication {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.maill {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
}
.maill:hover,
.maill:focus {
  color: var(--active-link-color);
}
.sec {
  background-color: var(--primary-white-color);
  padding-top: 96px;
  padding-bottom: 120px;
}
.visually-hidden {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.main {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-accent-color);
  background-color: var(--secondary-white-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--third-white-color);
  border-radius: 4px;
}
.main:hover,
.main:focus {
  color: var(--primary-white-color);
  background-color: var(--active-link-color);
  border: 1px solid transparent;
}
.photo {
  text-decoration: none;
}
.heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
}
.bottom {
  background-color: var(--primary-black-color);
}
.logoback {
  color: var(--secondary-white-color);
}
.logo-back-main {
  color: var(--primary-black-color);
}
.logo-main {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-accent-color);
  margin-right: 76px;
}
.logo-main-footer {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-accent-color);
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.menu-main {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.menu-main:hover,
.menu-main:focus {
  color: var(--active-link-color);
}
.title-main-pa {
  background-color: var(--primary-black-color);
}
.title-h {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  min-width: 496px;
}
.button-main {
  background-color: var(--primary-accent-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--primary-accent-color);
  border-radius: 4px;
}
.button-main:hover,
.button-main:focus {
  background-color: var(--active-link-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-ht {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}
.text-main {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
  text-align: center;
}
.title-ht-t {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
  margin-bottom: 72px;
}
.address {
  font-style: normal;
}
.web {
  width: calc((100% - 48px) / 3);
}
.mailto {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
}
.mailto:hover,
.mailto:focus {
  color: var(--active-link-color);
}
.sec-four {
  background-color: var(--secondary-white-color);
  padding: 120px 0;
}
.title-htt {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
  margin-bottom: 72px;
.img-main {
  background-color: var(--primary-white-color);
}
.title-h-tree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin-bottom: 8px;
  text-align: center;
}
.title-h-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
}
.footer {
  background-color: var(--primary-black-color);
  padding: 100px 0;
}
.logo-back {
  color: var(--secondary-white-color);
}
.text-footer {
  line-height: 1.5;
  color: var(--secondary-white-color);
  letter-spacing: 0.02em;
  min-width: 264px;
}
.section {
  padding-top: 188px; та padding-bottom: 188px;
}
.section-one {
  padding-top: 120px; та padding-bottom: 120px;
}
.section-two {
  padding-bottom: 120px;
}
.teerex {
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 4);
}
.teersx{
  display: flex;
  gap: 24px;
}
.teeredx {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.teeredsx {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.imgin {
  width: calc((100% - 48px) / 3);
}
.imgiv {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.workers {
  padding: 32px 0;
}
.case-one {
  padding: 32px 16px;
  border: 1px solid var(--third-white-color);
  border-top: none;
}